<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="Main" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=MothTest;Persist Security Info=True;User ID=sa;Password=kerevitAS84+"/>
    </connectionStrings>
</configuration>