<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear/>
        <add name="Main" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.109;Initial Catalog=MothTests;Persist Security Info=True;User ID=sa;Password=15851865t+"/>
    </connectionStrings>
</configuration>